@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: .3px;
}

.ads {
  position: relative;
  width: 120px;
  height: 120px;
  background: radial-gradient(white, black);
}



.button:hover+.target-element {
  width: 100%;
}

.slick-prev:before {
  display: none;
}

.slick-next:before {
  display: none;
}

.shad_ui {
  -webkit-box-shadow: -4px 1px 172px 18px rgba(201, 201, 201, 0.93);
  -moz-box-shadow: -4px 1px 172px 18px rgba(201, 201, 201, 0.93);
  box-shadow: -4px 1px 172px 18px rgba(201, 201, 201, 0.93);
}

@media (orientation: landscape) {
.toMobile {
     padding-top: 100px;
  }
}

